:root{
    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
}

*,*::before, *::after{
    box-sizing: border-box;
}
html{
    block-size: 100%;
    inline-size: 100%;
}

body{
    min-block-size: 100%;
    min-inline-size: 100%;
    
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Open Sans', sans-serif;

   
    @include tabplus{
        padding-inline: 0;
    }
}

h1, h2, h3, h4{
    font-family: 'Poppins', sans-serif; 
    margin: 0;
}

.btn{
    border: none;
    background: none;
    transition: all 300ms ease;
    cursor: pointer;
    color: white;
    background-color: var(--Pink);

    &:hover{
        opacity: 0.8;
    }
    &:active{
        transform: scale(0.98);
    }

    &-nav{
        background-color: transparent;
        color: var(--Pink);
        font-size: .5875rem;
        line-height: 12.8px;
        font-weight: 400;
        border: 1px solid var(--Pink);
        padding: .375rem 1.125rem;
        border-radius: 18px;
        box-shadow: 0 0 4px rgba(255,82,191,0.4);
    }

    &-main{
        display: inline;
        font-size: .75rem;
        line-height: 18px;
        padding: .6875rem 2.5rem;
        border-radius: 200px;
        text-transform: capitalize;
        box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.223053);

        @include tabplus{
            font-size: 1.25rem;
            padding: 1.5rem 6.25rem;
        }
    }

    &-submit{
        font-size: 1rem;
        line-height: 24px;
        padding: 12px 40px;
        border-radius: 5px;   
    }
}

.main{
    inline-size: 100%;
}

p{
    margin: 0;
}