.main{
    inline-size: 100%;
    
    &__wrapper{
        display: grid;
        justify-items: center;
    }

    &__numbers{
        margin-block-start: 7.5rem;
        padding-inline: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5.5rem;
        inline-size: 100%;
        max-inline-size: 880px;

        @include tabplus{
            flex-direction: row;
            justify-content: space-between;
           

        }

        &__number{
            display: grid;
            justify-items: center;

            &__image{
                justify-self: flex-start;
                block-size: 1.9375rem;
                inline-size: 1.9375rem;
                object-fit: contain;

                img{
                    display: block;
                    max-inline-size: 100%;
                }
            }
        }

        span{
            font-size: clamp(4rem, 3.2958rem + 3.0047vw, 6rem);
            font-weight: 700;
            line-height: clamp(5.6rem, 4.4908rem + 4.7324vw, 8.75rem);
        }

        p{
            font-size: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
            line-height: clamp(1.375rem, 1.0669rem + 1.3146vw, 2.25rem);
            color: #808E9A;
        }
    }

    &__cards{
        inline-size: 100%;
        display: grid;
        gap: 7.5rem;

        @include tabplus{
            margin-block-start: 8.3125rem;
        }

        &__wrapper{
            inline-size: 100%;
            position: relative;
            display: grid;
            justify-items: center;
            align-items: center;

            &-bigger{
                block-size: 47.6875rem;

                &::before{
                    content: '';
                    position: absolute;
                    inline-size: 100%;
                    block-size: 35rem;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: var(--Very-Pale-Blue);
                }
            }

            &-first{
                background-image: url('../../images/bg-section-top-mobile-1.svg'), url('../../images/bg-section-bottom-mobile-1.svg');
                background-repeat: no-repeat;
                background-position: left top, left 94%;
                background-size: 100% 7rem, 100% 4rem;

                @include tabplus{
                    background-image: url('../../images/bg-section-top-desktop-1.svg'), url('../../images/bg-section-bottom-desktop-1.svg') ;
                    background-position: left top, left bottom;
                    background-size: 100% 7.3125rem;
                }
            }

            &-second{
                background-image: url('../../images/bg-section-top-mobile-2.svg'), url('../../images/bg-section-bottom-mobile-2.svg');
                background-repeat: no-repeat;
                background-position: left top, left 100%;
                background-size: 100% 7rem, 100% 7rem;

                @include tabplus{
                    background-image: url('../../images/bg-section-top-desktop-2.svg'), url('../../images/bg-section-bottom-desktop-2.svg') ;
                    background-position: left top, left bottom;
                    background-size: 100% 7.3125rem;
                }
            }
        }
    }

    &__card{
        inline-size: 100%;
        display: grid;
        justify-items: center;
        z-index: 100;
        padding-inline: 1.5rem;
        gap: 1rem;

        @include tabplus{
            max-inline-size: 73.75rem;
            block-size: 35rem;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            gap: 8.375rem;            
        }

        &__image{
            block-size: 11.8125rem;
            margin-block-end: 1.5rem;
            inline-size: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            @include tabplus{
                inline-size: 100%;
                max-inline-size: 33.1875rem;
                block-size: 23.625rem;
                margin-block-end: 0;
            }

            &-first{
                background-image: url('../../images/illustration-grow-together.svg')
            }

            &-second{
                background-image: url('../../images/illustration-flowing-conversation.svg');
            }

            &-third{
                background-image: url('../../images/illustration-your-users.svg');
            }   
        }

        &__content{
            text-align: center;
            display: grid;
            gap: 1rem;

            @include tabplus{
                &-reverse{
                    grid-row: 1;
                }
            }

            h2{
                font-size: clamp(1.25rem, 0.8099rem + 1.8779vw, 2.5rem);
                line-height: clamp(1.875rem, 1.2148rem + 2.8169vw, 3.75rem);
            }

            p{
                font-size: clamp(0.875rem, 0.8310rem + 0.1878vw, 1rem);
                line-height : clamp(1.375rem, 1.3310rem + 0.1878vw, 1.5rem);
            }
        }
    }

    &__join{
        display: grid;
        justify-items: center;
        gap: 2.5rem;
        text-align: center  ;

        h3{
            font-size: clamp(1.5rem, 0.9718rem + 2.2535vw, 3rem);
            line-height: clamp(2.25rem, 1.4577rem + 3.3803vw, 4.5rem);  
        }

        @include tabplus{
            margin-block-start: 8.4375rem;
        }
    }
}